<!--
primary key 'id' automatically made
timestamps automatically added/appended to migration file
-->

<div id="app">
<div class="dialog" v-if="isExportOpen">
  <a class="remove" v-on:click="isExportOpen = false">&times;</a>
  <div>
    <button v-on:click="exportToJson">json</button>
    <button v-on:click="exportToRails">rails cmd</button><a class="remove" v-on:click="toggleExport">&times;</a>
  </div>
  <textarea readonly="readonly" v-model="exportString" ref="exportString"></textarea>
</div>

<div class="dialog" v-if="isImportingAll || isExportingAll">
  <a class="remove" v-on:click="closeImportExportDialog">&times;</a>
  <textarea v-model="importExportString"></textarea>
  <div>
    <button v-on:click="importAll" v-if="isImportingAll">import json</button>
  </div>
</div>

<div class="database_controls">
  <select class="database" v-model="db" v-if="Object.keys(databases).length > 0">
    <option v-for="dbdata, dbname in databases" v-bind:value="dbname" :selected="dbname == db">{{ dbname }}</option>
  </select>
  <button v-on:click="addingDatabase" v-if="Object.keys(databases).length > 0">add db</button>
  <button v-on:click="renamingDatabase" v-if="Object.keys(databases).length > 0">rename db</button>
  <button v-on:click="deletingDatabase" v-if="db">delete db</button>

  <input class="dbname" type="text" v-if="addingDb || renamingDb" placeholder="dbname" v-model="dbInput" v-on:keyup.enter="setDatabase" v-focus/>
  <button v-on:click="importingAll">import all</button>
  <button v-on:click="exportingAll" v-if="Object.keys(databases).length > 0">export all</button>
</div>

<div v-if="db && this.databases[this.db]">
  <button v-on:click="pushModel">add model</button>
  <button v-on:click="toggleExport">export </button>
  <main v-if="Object.keys(this.databases).length"> 
    <div class="model" v-for="model in this.databases[this.db].models">
      <a class="remove" v-on:click="removeModel(model)">&times;</a>
      <input class="name" type="text" v-model="model.name" placeholder="model" v-on:keyup.enter="initModel(model)" v-focus/>
      <ul class="attributes">
        <li v-for="attribute in model.attributes">
          <div class="flex">
            <input type="text" v-model="attribute.name" placeholder="attribute" v-focus v-on:keyup.enter="pushAttribute(model)"/>
            <select class="short" v-model="attribute.type" placeholder="type" v-on:keyup.enter="pushAttribute(model)">
              <option>string</option>
              <option>text</option>
              <option>boolean</option>
              <option>integer</option>
              <option>decimal{10,2}</option>
              <option>references</option>
              <option>datetime</option>
              <option>attachment</option>
              <option>hstore</option>
              <option>json</option>
            </select>
            <div class="options">
              <!-- <input class="null" type="checkbox" v-model="attribute.null" title="null"/> -->
              <input class="index" type="checkbox" v-model="attribute.index" title="index"/>
              <input class="unsigned" type="checkbox" v-model="attribute.unsigned" title="unsigned"/>
              <!-- <input class="unique" type="checkbox" v-model="attribute.unique" title="unique"/> -->
              <!-- <input class="array" type="checkbox" v-model="attribute.array" title="array"/> -->
              <input class="polymorphic" type="checkbox" v-model="attribute.polymorphic" title="polymorphic"/>
            </div><a class="remove" v-on:click="removeAttribute(model, attribute)">&minus;</a>
          </div>
        </li>
      </ul>
      <button v-on:click="pushAttribute(model)">add attribute</button>
    </div>
  </main>
</div>
</div>