/* line 1, /Users/tomas/Sites/dbgen/app/assets/stylesheets/dbgen.scss */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* line 6, /Users/tomas/Sites/dbgen/app/assets/stylesheets/dbgen.scss */
body {
  background: #dcdcdc;
  font: 12px/1.5em Droid Sans Mono, Monaco, monospace;
  padding: 1.5em;
}

/* line 11, /Users/tomas/Sites/dbgen/app/assets/stylesheets/dbgen.scss */
main {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 0.75em;
}

/* line 17, /Users/tomas/Sites/dbgen/app/assets/stylesheets/dbgen.scss */
small {
  font-size: 1em;
}

/* line 20, /Users/tomas/Sites/dbgen/app/assets/stylesheets/dbgen.scss */
.model {
  background: #fff;
  border-left: 0.75em solid #dcdcdc;
  flex: 0 0 33.3333%;
  margin-bottom: 0.75em;
  padding: 0.75em;
}

/* line 27, /Users/tomas/Sites/dbgen/app/assets/stylesheets/dbgen.scss */
.model:nth-child(3n+1) {
  border-left: 0;
}

/* line 30, /Users/tomas/Sites/dbgen/app/assets/stylesheets/dbgen.scss */
.attributes {
  list-style: none;
  margin: 1.5em 0;
}

/* line 34, /Users/tomas/Sites/dbgen/app/assets/stylesheets/dbgen.scss */
.attributes li {
  display: block;
}

/* line 37, /Users/tomas/Sites/dbgen/app/assets/stylesheets/dbgen.scss */
.attributes .remove {
  line-height: 2;
  height: 2em;
}

/* line 41, /Users/tomas/Sites/dbgen/app/assets/stylesheets/dbgen.scss */
input[type="text"],
select,
textarea {
  appearance: none;
  border: 0;
  border-bottom: 1px solid;
  border-radius: 0;
  color: #696969;
  font-size: 1em;
  line-height: 1.5;
  font-family: inherit;
  padding: 0.25em;
  height: auto;
  display: inline-block;
}

/* line 56, /Users/tomas/Sites/dbgen/app/assets/stylesheets/dbgen.scss */
input[type="text"]:focus,
select:focus,
textarea:focus {
  outline: none;
  border-color: #1e90ff;
}

/* line 62, /Users/tomas/Sites/dbgen/app/assets/stylesheets/dbgen.scss */
input[type="text"]:hover,
select:hover,
textarea:hover {
  color: #000;
}

/* line 67, /Users/tomas/Sites/dbgen/app/assets/stylesheets/dbgen.scss */
input.name {
  font-size: 1.5em;
  display: block;
  width: 100%;
}

/* line 72, /Users/tomas/Sites/dbgen/app/assets/stylesheets/dbgen.scss */
input[type="checkbox"] {
  appearance: none;
  border: 0;
  border-radius: 0;
  color: #696969;
  font-size: 1em;
  line-height: 1.5em;
  padding: 0.25em;
  font-family: inherit;
  display: inline-block;
  color: #c0c0c0;
}

/* line 84, /Users/tomas/Sites/dbgen/app/assets/stylesheets/dbgen.scss */
input[type="checkbox"]:hover,
input[type="checkbox"]:checked {
  color: #000;
}

/* line 88, /Users/tomas/Sites/dbgen/app/assets/stylesheets/dbgen.scss */
input.null:before {
  content: 'n';
}

/* line 91, /Users/tomas/Sites/dbgen/app/assets/stylesheets/dbgen.scss */
input.index:before {
  content: 'i';
}

/* line 94, /Users/tomas/Sites/dbgen/app/assets/stylesheets/dbgen.scss */
input.unique:before {
  content: 'u';
}

/* line 97, /Users/tomas/Sites/dbgen/app/assets/stylesheets/dbgen.scss */
input.array:before {
  content: 'a';
}

/* line 100, /Users/tomas/Sites/dbgen/app/assets/stylesheets/dbgen.scss */
input.polymorphic:before {
  content: 'p';
}

/* line 103, /Users/tomas/Sites/dbgen/app/assets/stylesheets/dbgen.scss */
.options {
  border-bottom: 1px solid;
  cursor: default;
  padding-right: 1.5em;
}

/* line 108, /Users/tomas/Sites/dbgen/app/assets/stylesheets/dbgen.scss */
.short {
  width: 6em;
}

/* line 111, /Users/tomas/Sites/dbgen/app/assets/stylesheets/dbgen.scss */
.flex {
  display: flex;
}

/* line 114, /Users/tomas/Sites/dbgen/app/assets/stylesheets/dbgen.scss */
.flex * {
  flex: 1 0 auto;
}

/* line 117, /Users/tomas/Sites/dbgen/app/assets/stylesheets/dbgen.scss */
button {
  -webkit-appearance: none;
  border: 0;
  border-radius: 0;
  color: #fff;
  font-size: 1em;
  line-height: 1.5em;
  font-family: inherit;
  padding: 0.5em;
  background: #1e90ff;
}

/* line 128, /Users/tomas/Sites/dbgen/app/assets/stylesheets/dbgen.scss */
button:hover {
  background: rgba(30, 144, 255, 0.75);
}

/* line 131, /Users/tomas/Sites/dbgen/app/assets/stylesheets/dbgen.scss */
.remove {
  color: #dc143c;
  cursor: default;
  display: block;
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
}

/* line 142, /Users/tomas/Sites/dbgen/app/assets/stylesheets/dbgen.scss */
.remove:hover {
  background: #dc143c;
  color: #fff;
}

/* line 146, /Users/tomas/Sites/dbgen/app/assets/stylesheets/dbgen.scss */
.model,
.attributes li {
  position: relative;
}

/* line 150, /Users/tomas/Sites/dbgen/app/assets/stylesheets/dbgen.scss */
.dialog {
  background: #fff;
  box-shadow: 0 0 3em rgba(0, 0, 0, 0.25);
  position: absolute;
  padding: 0.75em;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  max-width: 40em;
  max-height: 20em;
  z-index: 10;
  display: flex;
  flex-direction: column;
}

/* line 166, /Users/tomas/Sites/dbgen/app/assets/stylesheets/dbgen.scss */
.dialog textarea {
  font-size: 0.875em;
  width: 100%;
  flex: 1 0;
}

/* line 171, /Users/tomas/Sites/dbgen/app/assets/stylesheets/dbgen.scss */
.dialog button {
  display: inline-block;
  margin-bottom: 0.75em;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */

