* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #dcdcdc;
  font: 12px/1.5em Droid Sans Mono, Monaco, monospace;
  padding: 1.5em;
}
main {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 0.75em;
}
small {
  font-size: 1em;
}
.model {
  background: #fff;
  border-left: 0.75em solid #dcdcdc;
  flex: 0 0 33.3333%;
  margin-bottom: 0.75em;
  padding: 0.75em;
}
.model:nth-child(3n+1) {
  border-left: 0;
}
.attributes {
  list-style: none;
  margin: 1.5em 0;
}
.attributes li {
  display: block;
}
.attributes .remove {
  line-height: 2;
  height: 2em;
}
input[type="text"],
select,
textarea {
  appearance: none;
  border: 0;
  border-bottom: 1px solid;
  border-radius: 0;
  color: #696969;
  font-size: 1em;
  line-height: 1.5;
  font-family: inherit;
  padding: 0.25em;
  height: auto;
  display: inline-block;
}
input[type="text"]:focus,
select:focus,
textarea:focus {
  outline: none;
  border-color: #1e90ff;
}
input[type="text"]:hover,
select:hover,
textarea:hover {
  color: #000;
}
.mheading
{
  display: table;
}
input.name {
  font-size: 1.5em;
  display: table-cell;
  width: 75%;
}
label[for=timestamps] {
  display: table-cell;
  width: 25%;
}
.options {
  border-bottom: 1px solid;
  cursor: default;
  padding-right: 1.5em;
    
  input[type="checkbox"] {
    visibility: hidden;
    border: 0;
    border-radius: 0;
    color: #cccccc;
    font-size: 1em;
    line-height: 1.5em;
    padding: 0.25em;
    font-family: inherit;
    display: inline-block;
    color: #c0c0c0;
  }
  input[type="checkbox"]:hover,
  input[type="checkbox"]:checked {
    color: #f00;
    font-weight: bold;
  }
  input.timestamps {
    
  }
  input:before {
    visibility: visible;
  }
  input.null:before {
    content: 'n';
  }
  input.index:before {
    content: 'i';
  }
  input.unique:before {
    content: 'q';
  }
  input.unsigned:before {
    content: 'u';
  }
  input.array:before {
    content: 'a';
  }
  input.polymorphic:before {
    content: 'p';
  }
}
.short {
  width: 6em;
}
.flex {
  display: flex;
}
.flex * {
  flex: 1 0 auto;
}
button {
  -webkit-appearance: none;
  border: 0;
  border-radius: 0;
  color: #fff;
  font-size: 1em;
  line-height: 1.5em;
  font-family: inherit;
  padding: 0.5em;
  background: #1e90ff;
}
button:hover {
  background: rgba(30,144,255,0.75);
}
.remove {
  color: #dc143c;
  cursor: default;
  display: block;
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
}
.remove:hover {
  background: #dc143c;
  color: #fff;
}
.model,
.attributes li {
  position: relative;
}
.dialog {
  background: #fff;
  box-shadow: 0 0 3em rgba(0,0,0,0.25);
  position: absolute;
  padding: 0.75em;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  max-width: 40em;
  max-height: 20em;
  z-index: 10;
  display: flex;
  flex-direction: column;
}
.dialog textarea {
  font-size: 0.875em;
  width: 100%;
  flex: 1 0;
}
.dialog button {
  display: inline-block;
  margin-bottom: 0.75em;
}
.database_controls
{
  padding-bottom: 10px;
}

